<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboardPage/home"></ion-back-button><ion-title><b>Daftar Katalog Saya</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="loginPageContainer" style="margin-top: 50px; margin-bottom: 50px;">

    <div class="ion-padding custom-skeleton" *ngIf="isLoadingAPI == 0">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>

    <div *ngIf="isLoadingAPI == 1">
      <div *ngIf="punyaKatalog == true">
        <p style="text-align: center;">Berikut ini merupakan daftar katalog rumah yang kamu buat</p>
      </div>

      <div *ngIf="punyaKatalog == false">
        <p style="text-align: center;">Kamu belum punya daftar katalog rumah yang kamu buat</p>
      </div>
    </div>

    <div *ngIf="isLoadingAPI == 2">
      <p style="text-align: center;">Wah, tampaknya terjadi kesalahan nih. Coba periksa kembali jaringan internetmu dan coba lagi ya...</p>
    </div>

    <ion-card *ngFor="let dataMyCatalog of dataArrayRumah; let i = index">
    
      <ion-card-content>
        <img src="{{ dataMyCatalog.katalogImageUrl }}" style="width: 100%; height: 150px;" (click)="viewKatalog(dataMyCatalog.katalogUUID)">
        <div (click)="viewKatalog(dataMyCatalog.katalogUUID)">{{ dataMyCatalog.katalogName }}</div>

        <ion-item>
          <!--<ion-icon name="pin" slot="start"></ion-icon>-->
          <!--<ion-label>ion-item in a card, icon left, button right</ion-label>-->
          <ion-button fill="outline" slot="end" (click)="viewKatalog(dataMyCatalog.katalogUUID)">Lihat</ion-button>
          <ion-button fill="outline" slot="end" (click)="editKatalog(dataMyCatalog.katalogUUID)">Edit</ion-button>
          <ion-button fill="outline" slot="end" (click)="deleteKatalogRumahAlert(dataMyCatalog.katalogUUID, dataMyCatalog.katalogName)">Hapus</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
