<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboardPage/home"></ion-back-button><ion-title><b>Katalog Center</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: grey;">

  <div class="loginPageContainer" style="margin-top: 180px; margin-bottom: 180px;">
    
    <div class="containerSection" [routerLink]="['/addkatalogpage']">
      <div class="ion-text-center">
      <div class="contentSection">
        <ion-icon name="add" style="font-weight: bold; font-size: 14px;"></ion-icon>
      </div>
      <div class="contentSection" style="margin-left: -15px;">
        <b> Tambahkan Katalog Baru</b>
      </div>
      </div>
    </div><br><br>

  <div class="containerSection" [routerLink]="['/mycatalogpage']">
    <div class="ion-text-center">
    <div class="contentSection">
      <ion-icon name="create" style="font-weight: bold; font-size: 14px;"></ion-icon>
    </div>
    <div class="contentSection" style="margin-left: -15px;">
      <b> Lihat Daftar Katalog Saya</b>
    </div>
  </div>
  </div>

</div>

</ion-content>
