<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboardPage/home"></ion-back-button><ion-title><b>Message Area</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="loginPageContainer" style="margin-top: 50px; margin-bottom: 50px;">
<form>
<hr style="border-top: solid grey 0.3px; width: 100%;">
<!--<ion-button class="buttonCentered" style="margin-left: 20px;" color="primary">SEBAGAI PENJUAL</ion-button> <ion-button class="buttonCentered" style="margin-left: 5px;" color="primary">SEBAGAI PEMBELI</ion-button>-->
<ion-list style="text-align: center; background: none;">
  <ion-button style="margin-left: 20px;" color="primary">SEBAGAI PENJUAL</ion-button><ion-button style="margin-left: 5px;" color="primary">SEBAGAI PEMBELI</ion-button>
</ion-list>
<hr style="border-top: solid grey 0.3px; width: 100%;">
<h6 style="text-align: center; font-weight: bold;">CHAT/PESAN SEBAGAI PENJUAL</h6><br>
<div>
<img class="loginPageRumahIcon" src="../../assets/icon/terlantar01.png" style="width: 60%; height: auto;">
<p style="text-align: center; font-weight: bold;">Oopss, tidak ada pesan nih saat ini :(</p>
</div>
</form>
</div>
</ion-content>