<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button><ion-title><b>Verifikasi Kredensial</b></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="loginPageContainer">
    <img class="loginPageRumahIcon" src="../../assets/icon/rumahIcon.png"><br><br>
    <h6 style="text-align: center; font-weight: bold;">VERIFIKASI KREDENSIAL</h6>
    <h6 style="text-align: center; font-weight: bold;">{{ messageLoginRequestTitle }}</h6><br>
    <p style="margin-top: -10px; text-align: center; font-weight: bold; color: red;" *ngIf="grantType == 'otp'" (click)="resendOTP()">{{ resendText }}</p>
    <!-- Input with placeholder -->
    <ion-item>
      <ion-label position="floating">{{ placeHolder }}</ion-label>
      <ion-input type="{{ type }}" name="credentials" id="credentials" maxlength="{{ length }}" onKeyPress="if(this.value.length== this.maxlength) return false;" [(ngModel)]="credentials"></ion-input>
    </ion-item>
    <br>
    <p style="margin-top: -10px; text-align: center; font-weight: bold; color: red;" *ngIf="grantType == 'password'" [routerLink]="['/forgotpassword/belumLogin']">Lupa Password?</p>
    <ion-button size="block" [disabled]="!credentials?.trim()" (click)="verifyLogin()">KONFIRMASI LOGIN</ion-button><br>
    <p style="text-align: center; font-weight: bold; color: red;" *ngIf="!statusApi">{{resultLoginRequest}}</p>
    <ion-button style="display: none;" size="block" [routerLink]="['/login']">KEMBALI</ion-button><br>
    <ion-button style="display: none;" size="block" [routerLink]="['/artest']">AR TEST</ion-button><br>
    <!--<p style="text-align: center;"><b>Tidak punya akun?</b></p>
    <p style="text-align: center; text-decoration: underline;" (onclick)="siap()"><b>Daftar Di Sini</b></p>-->
    </div>

</ion-content>